<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | MeLiveAkshay</title>
    <meta name="description" content="Software Engineer Mobile Application Flutter Developer 
    Android Developer Computer Science & Engineering Btech Ramgovind Institute Of Technology Koderma
    Jharkhand University Of Technology Ranchi ">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    
    <h1>Hello</h1>
</body>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>